.sub_mid_pages h2{
    text-transform: uppercase;
    background-color: silver;
    padding: 0.5rem 1rem;
}

#go_back_page{
    display: block;
    align-items: center;
    gap: 0.3rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

#go_back_page span{
    font-size: larger;
}

#go_back_page:hover{
    color: var(--ox-blood);
    transform: scale(1.1);
}

.sub_mid_pages ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 5rem;
    /* justify-content: center; */
}

.sub_mid_pages ul li{
    width: 30%;
    text-align: center;
    gap: 1rem;
    padding: 1rem 0.5rem;
    position: relative;
}

.sub_mid_pages ul li:hover{
    transform: scale(1.1);
}

.sub_mid_pages ul li h4{
    width: 334px;
    position: absolute;
    bottom: 10%;
    left: 11%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5rem;
    font-size: 1rem;
}

.sub_mid_pages ul li img{
    object-fit: cover;
    width: 350px;
    height: 250px;
    box-shadow: -1px 1px 3px var(--ox-blood), 1px -1px 3px var(--bronze);
    display: flex;
    margin: 0.5rem auto;
    padding: 2px;
    border-radius: 5px;
}

/* article */

#my_article{
    padding: 0rem 10rem;
    text-align: justify;
}

.top_article_container h2{
    text-align: center;
    border: 1px solid silver;
    border-width: 0px 0px 1px 0px;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: gray;
}

.article_first_para::first-letter{
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--ox-blood);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.artice_text{
    font-size: 1.1rem;
    line-height: 1.5;
}

.top_article_container div span p{
    margin: 1rem 0rem;
}

#article_cover{
    float: left;
    object-fit: cover;
    width: 600px;
    max-height: 600px;
    margin: 0rem 1rem 0.5rem 0rem;
    box-shadow: -2px 2px 3px var(--ox-blood), 2px -2px 3px gray;
    padding: 2px;
}

.mid_article_container{
    margin: 1rem 0rem;
}

.mid_article_container p{
    margin: 1rem 0rem;
}

#my_article details summary{
    margin: 1rem 0rem;
    cursor: pointer;
    font-weight: bold;
    color: var(--ox-blood);
}

#my_article details p{
    text-align: left;
    line-height: 1.2;
    padding: 1rem 3rem;
    background-color: var(--ox-blood);
    color: white;

}

#article_quotes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 3rem;
    margin: 2rem auto;
    font-size: larger;
    font-weight: 510;
    font-style: italic;
    color: var(--ox-blood);
    background-color: white;
    border-radius: 50%;
    /* text-shadow: -1px 1px black; */
    box-shadow: 2px -1px 5px 0px black;
    /* word-spacing: 2px; */
    overflow: auto;
}

.bottom_article_container div span{
    display: block;
}

.bottom_article_container div p{
    margin: 1rem 0rem;
}

#article_subcover{
    object-fit: cover;
    float: right;
    margin: 2rem 0rem 0.5rem 1rem;
    width: 350px;
    max-height: 350px;
    padding: 2px;
    box-shadow: 0px 0px 3px gray;
    border-radius: 15px;
    background-color: white;
}

.artice_bullet_list{
    padding: 1rem 3rem;
    margin: 0.5rem 0rem;
    background-color: white;

}

.artice_bullet_list li{
    margin: 0.8rem 2rem;
}

/*  */

#article_suggestion{
    margin: 1rem 0rem;
    font-size: smaller;
}

#article_suggestion p{
    margin: 1rem 0rem;
    font-size: larger;
}

#article_suggestion a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#article_suggestion a img{
    object-fit: cover;
    width: 150px;
    height: 100px;
    box-shadow: 0px 0px 3px black;
    padding: 2px;
    border-radius: 5px;
}

/* search result */
#search_result_container{
    list-style: none;
    margin: 0rem 5rem;
}

#search_result_container h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border: 1px solid silver;
    border-width: 0px 0px 1px 0px;
    color: var(--ox-blood);
    font-size: 2rem;
}

#search_result_container div li{
    padding: 1rem;
    margin: 1rem 0rem;
    background-color: white;
}

#search_result_container div li:hover{
    background-color: silver;
}

#search_result_container div li a{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#search_result_container div li a h4{
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: larger;
}

#search_result_container div li a img{
    object-fit: cover;
    width: 300px;
    height: 200px;
    padding: 2px;
    background-color: white;
    box-shadow: 0px 0px 3px black;
    border-radius: 10px;
}

#search_result_container div li a q{
    font-size: larger;
    font-style: italic;
}

/*  */
@media (max-width:1030px) {
    .sub_mid_pages ul{
        padding: 0rem 2rem;
        /* justify-content: center; */
    }

    #go_back_page{
        padding: 0.5rem;
    }

    .sub_mid_pages ul li h4{
        width: 240px;
        bottom: 14%;
        left: 8%;
        padding: 0.3rem;
        font-size: 0.7rem;
    }

    .sub_mid_pages ul li img{
        width: 250px;
        height: 150px;
    }

    .sub_mid_pages ul li:hover{
        transform: scale(1);
    }

    /*  */

    #my_article{
        padding: 0rem 5rem;
    }

    #article_cover{
        width: 500px;
        max-height: 500px;
    }

    .top_article_container h2{
        font-size: 2rem;
    }

    #article_subcover{
        width: 250px;
        max-height: 200px;
    }

    #article_suggestion a img{
        width: 100px;
        height: 60px;
    }

    /*  */
    #search_result_container{
        margin: 0rem 3rem;
    }

    #search_result_container div li a img{
        width: 270px;
        height: 150px;
    }

    #search_result_container div li a q{
        font-size: 1rem;
    }
}

@media (max-width:900px) {
    .sub_mid_pages h2{
        padding: 0.2rem 0.5rem;

    }

    .sub_mid_pages ul{
        justify-content: center;
        padding: 0;
    }

    .sub_mid_pages ul li{
        width: 45%;
        position: relative;
    }

    .sub_mid_pages ul li h4{
        width: 292px;
        left: 10.5%;
        bottom: 11%;
        font-size: smaller;
    }

    .sub_mid_pages ul li img{
        width: 300px;
        height: 200px;
    }

    /*  */

    #my_article{
        padding: 0rem 4rem;
    }

    #article_cover{
        width: 400px;
        max-height: 400px;
    }
}

@media (max-width:800px) {
    .sub_mid_pages ul li h4{
        width: 291px;
        left: 8%;
    }
}

@media (max-width:650px) {
    .sub_mid_pages h2{
        font-size: 1.3rem;
    }

    .sub_mid_pages ul li h4{
        width: 241px;
        left: 5.5%;
        bottom: 13%;
        font-size: 0.7rem;
    }

    .sub_mid_pages ul li img{
        width: 250px;
        height: 170px;
    }

    /*  */

    #my_article{
        padding: 0rem 3rem;
    }

    #article_cover{
        object-fit: contain;
        float: none;
        width: 100%;
        max-height: auto;
        margin: 0;
    }

    .top_article_container h2{
        font-size: 1.8rem;
    }

    /*  */
    #search_result_container h2{
        font-size: 1.5rem;
    }

    #search_result_container{
        margin: 0rem 3rem;
    }

    #search_result_container div li a{
        flex-wrap: wrap;
    }

    #search_result_container div li a img{
        display: flex;
        margin: 0rem auto;
        width: 100%;
        height: auto;
    }

    #search_result_container div li a q{
        font-size: 1rem;
    }
}

@media (max-width:500px) {
    .sub_mid_pages ul{
        gap: 0rem;
        padding: 0;
        justify-content: left;
    }

    .sub_mid_pages ul li{
        width: 90%;
    }

    .sub_mid_pages ul li h4{
        position: static;
        width: 100%;
        left: 0%;
        bottom: 0%;
        font-size: 0.9rem;
        background-color: transparent;
    }

    .sub_mid_pages ul li img{
        width: 350px;
        height: 200px;
    }

    /*  */

    #my_article{
        padding: 0rem 2.5rem 0rem 0.8rem;
    }

    .artice_text{
        font-size: 0.9rem;
        line-height: 1.2;
    }

    .article_first_para::first-letter{
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    .top_article_container h2{
        font-size: 1.3rem;
    }

    .artice_bullet_list{
        padding: 0.5rem;

    }

    .artice_bullet_list li{
        margin: 0.8rem 1.5rem;
    }

    #my_article details summary{
        font-size: smaller;
        margin: 0.5rem 0rem;
    }

    #my_article details p{
        padding: 1rem 1.5rem;

    }

    #article_subcover{
        float: none;
        width: 100%;
        max-height: auto;
        margin: 1rem 0rem 0rem 0rem;
    }

    #article_suggestion a{
        font-size: smaller;
        text-align: left;
    }

    #article_suggestion a img{
        width: 100px;
        height: 50px;
    }

    /*  */
    #search_result_container{
        margin: 0rem 2.5rem 0rem 0.5rem;
    }
}

@media (max-width:400px) {
    .sub_mid_pages h2{
        font-size: 1.1rem;
    }

    .sub_mid_pages ul li img{
        width: 300px;
        height: 180px;
    }

    /*  */

    .top_article_container h2{
        font-size: 1.2rem;
    }

    .artice_text{
        font-size: smaller;
    }

    #article_quotes{
        width: 300px;
        height: 300px;
        padding: 1rem 3rem;
        font-size: 1rem;
    }
}

@media (max-width:360px) {

    .sub_mid_pages ul li img{
        width: 270px;
        height: 150px;
    }
}
